{
  presets: [
    [
      "@babel/preset-env", {
        targets: {
          chrome: "67"
        },
        useBuiltIns: "usage" // 只有当前用到的才会注入到代码中，减小代码体积
      }
    ],
    "@babel/preset-react"
  ],
  plugins: ["dynamic-import-webpack"]
}